/* 
  Cards
  ======
*/
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards > .container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px;
}

.card {
  border: 3px solid black;
  border-radius: 3px;
  min-height: 300px;
  width: clamp(250px, 350px, 30vw);
}

.card:nth-child(even) {
  background-color: var(--light-primary-color);
}

.card:nth-child(odd) {
  background-color: var(--secondary-color);
}

.card > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.card > .container > :not(.avatar) {
  flex: 1;
}

.card > .container > .wrapper {
  display: flex;
  align-items: center;
}

.card .avatar {
  width: max(200px, 75%);
  flex: 3;
  margin: 10px auto;
  position: relative;
}

.card .avatar::before{
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 3px solid black;
  border-radius: 50%;
}

.card .avatar > img {
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.card > .container > .wrapper {
  font-size: 1.5rem;
}

.card .wrapper > .name,
.card .wrapper > blockquote {
  padding: 5px 10px;
  height: 100%;
}

.card .wrapper > .name {
  position: relative;
  top: 0px;
  background: var(--gray-accent);
  border-bottom-right-radius: 10px;
  border-left: 5px solid var(--primary-color);
}

.card .wrapper > blockquote {
  margin:0 auto;
}