:root {
  --primary-color: #25e069;
  --secondary-color: #d8a128;
  --light-primary-color: #8cc3a0;
  --max-content-width: 1300px;
  --product-price: "$699";
}

/* 
  General
  =======
*/
body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-primary-color);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: auto;
  width: 100%;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
}

a::before {
  content: "";
  background-color: var(--primary-color);
  opacity: 0.5;
  position: absolute;
  width: 0;
  height: 20%;
  bottom: 10%;
  transition-duration: 0.2s;
}

a:hover::before {
  width: 100%;
}

a:active::before {
  height: 100%;
  width: 100%;
  bottom: 0;
  transition-duration: 0.1s;
}

.cards,
.display-case, 
main .call-to-action,
.hero > .container > img {
  border-left: 2px solid var(--secondary-color);
}

.cards,
.display-case, 
main .call-to-action {
  width: min(var(--max-content-width), 100%);
  background-color: #fff;
}

/* 
  Call to Action
  ==============
*/
.call-to-action > .wrapper {
  display: flex;
  gap: 5px;
}

.call-to-action > .wrapper > * {
  padding: 5px;
  border-radius: 5px;
}

.call-to-action > .wrapper > button {
  flex: 1;
  background-color: var(--primary-color);
  border: 1px solid #fff;
}

.call-to-action > .wrapper > button:active {
  transform: scale(0.95);
}

.call-to-action > .wrapper > input {
  flex: 2;
  border: 1px solid var(--primary-color);
}

/* 
  Display Case
  =============
*/
.display-case > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-case .product-img {
  position: relative;
}


.display-case .product-img > .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: 3px solid black;
  width: min(100px, 20vw);
  height: min(100px, 20vw);
  text-align: center;
  font-size: min(2rem, 8vw);
  font-weight: bolder;
  color: var(--primary-color);
  text-shadow: 0px 0px 3px black;
}

.display-case .product-img > .wrapper > .dollar {
  margin: auto;
}

.display-case .sale-pitch {
  margin: 10px 0;
}